header {
    display: flex;
    justify-content: center;
    background-color: #17abb3;
    color: #ffffff;
}

.profile-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1160px;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
}

.profile-picture {
    margin: 50px 100px;
}

.profile-picture img {
    width: 120px;
    height: 110px;
    border: solid 4px #ffffff;
    border-radius: 50%;
    flex-shrink: 0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 5px;
    margin-top: 5px;
}

.subtitle {
    color: #ffffff;
    margin-top: 0px;
}

.profile-info {
    text-align: center;
    padding-right: 200px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-left, .contact-right {
    display: flex;
    flex-direction: column; /* Organisation des éléments en colonne */
    gap: 10px; /* Espace entre les lignes */
    
}
.contact{
    display: flex;
    align-items: center; /* Aligne les icônes et le texte horizontalement */
    gap: 10px; /* Espace entre l'icône et le texte */
}
.contact-left img, .contact-right img {
    width: 20px; /* Taille des icônes */
    height: 20px;
    filter: invert(1);
}
.contact-left a, .contact-right a {
    text-decoration: none; /* Supprime le soulignement */
    color: inherit; /* Utilise la couleur du texte par défaut */
}

