header {
   display: flex;
   justify-content: center;
   background-color: #17abb3;
   color: #ffffff;
}

.profile-content {
    display: flex;
    align-items: center;
    max-width: 1160px;
    width: 100%;
}

.profile-picture {
    margin-left : 20px;
}

.profile-picture img{
    width : 120px;
    height: 120px;
    border: solid 4px #ffffff;
    border-radius: 50%;
}