@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url('../Assets/fonts/Raleway.woff');
    src: url('../Assets/fonts/Raleway.otf') format('opentype'),
        url('../Assets/fonts/Raleway.ttf') format('truetype');
}

body {
    font-family: "Raleway", serif;
    font-size: 100%;
}

h1 h2 h3 {
    font-family: "Lato", sans-serif;
}