footer {
    display: flex;
    justify-content: center;
    background-color: #17abb3;
    color: #ffffff;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1160px;
    width: auto;
    /* s'adapte si ajout de réseau social */
    justify-content: center;
    gap: 10px;
}

.footer-container p {
    margin-top: 5px;
    font-style: italic;
    font-size: 1rem;
}

.social-icons img {
    height: 30px;
    width: 30px;
    filter: invert(1);
    /* rend les icônes visibles sur le fond vert, respecte le modèle initial */
    opacity: 1;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.date-maj {
    color: #ffffff;
    font-size: 1.2rem;
    /* met en avant la date de mise à jour */
}